<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>APITestGroup.POST_PetStore</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createUserWithList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createPetOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createPetStore</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createUserWithLoggedinUser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>APITestGroup.DELETE_PetStore</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deletePurchaseOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteAUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteAPet</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>APITestGroup.GET_PetStore</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>fetchInventoryDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateUserDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fetchSoldPets</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fetchPetDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatePetDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fetchInvalidPets</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fetchAvailablePets</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logoutUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fetchUserDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateOrderDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fetchOrderDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fetchPendingPets</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>APITestGroup.PUT_PetStore</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>updateUserWithLoggedinUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updatePetDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
