<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Lease Plan Digital</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75fcb5">  <td>20/09/22 17:55:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_PetStore.createPetOrder()[pri:0, instance:APITestGroup.POST_PetStore@31920ade]">createPetOrder</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="75fcb5">  <td>20/09/22 17:55:26</td>   <td>5563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_PetStore.createPetStore()[pri:0, instance:APITestGroup.POST_PetStore@31920ade]">createPetStore</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="75fcb5">  <td>20/09/22 17:55:27</td>   <td>6274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_PetStore.createUser()[pri:0, instance:APITestGroup.POST_PetStore@31920ade]">createUser</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="75fcb5">  <td>20/09/22 17:55:27</td>   <td>6954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_PetStore.createUserWithList()[pri:0, instance:APITestGroup.POST_PetStore@31920ade]">createUserWithList</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="75fcb5">  <td>20/09/22 17:55:28</td>   <td>7642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_PetStore.createUserWithLoggedinUser()[pri:0, instance:APITestGroup.POST_PetStore@31920ade]">createUserWithLoggedinUser</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:29</td>   <td>9065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.fetchAvailablePets()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">fetchAvailablePets</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:30</td>   <td>9701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.fetchInvalidPets()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">fetchInvalidPets</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:31</td>   <td>10329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.fetchInventoryDetails()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">fetchInventoryDetails</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:31</td>   <td>10945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.fetchOrderDetails()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">fetchOrderDetails</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:32</td>   <td>11634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.fetchPendingPets()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">fetchPendingPets</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:32</td>   <td>12241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.fetchPetDetails()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">fetchPetDetails</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:33</td>   <td>12879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.fetchSoldPets()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">fetchSoldPets</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:34</td>   <td>13496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.fetchUserDetails()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">fetchUserDetails</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:34</td>   <td>14125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.loginUser()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">loginUser</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:35</td>   <td>14735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.logoutUser()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">logoutUser</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:36</td>   <td>15387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.validateOrderDetails()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">validateOrderDetails</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:36</td>   <td>15994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.validatePetDetails()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">validatePetDetails</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="717c97">  <td>20/09/22 17:55:37</td>   <td>16638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_PetStore.validateUserDetails()[pri:0, instance:APITestGroup.GET_PetStore@5026735c]">validateUserDetails</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="f08074">  <td>20/09/22 17:55:38</td>   <td>17292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT_PetStore.updatePetDetails()[pri:0, instance:APITestGroup.PUT_PetStore@1fb19a0]">updatePetDetails</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="f08074">  <td>20/09/22 17:55:38</td>   <td>17926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT_PetStore.updateUserWithLoggedinUser()[pri:0, instance:APITestGroup.PUT_PetStore@1fb19a0]">updateUserWithLoggedinUser</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="8f7971">  <td>20/09/22 17:55:40</td>   <td>19870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DELETE_PetStore.deleteAPet()[pri:0, instance:APITestGroup.DELETE_PetStore@9573584]">deleteAPet</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="8f7971">  <td>20/09/22 17:55:41</td>   <td>21186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DELETE_PetStore.deleteAUser()[pri:0, instance:APITestGroup.DELETE_PetStore@9573584]">deleteAUser</td> 
  <td>main@1356732524</td>   <td></td> </tr>
<tr bgcolor="8f7971">  <td>20/09/22 17:55:43</td>   <td>22407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DELETE_PetStore.deletePurchaseOrder()[pri:0, instance:APITestGroup.DELETE_PetStore@9573584]">deletePurchaseOrder</td> 
  <td>main@1356732524</td>   <td></td> </tr>
</table>
