<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7ef87a">  <td>20/09/22 17:23:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DELETE_PetStore.deleteAPet()[pri:0, instance:APITestGroup.DELETE_PetStore@d21a74c]">deleteAPet</td> 
  <td>main@1646464088</td>   <td></td> </tr>
<tr bgcolor="7ef87a">  <td>20/09/22 17:23:54</td>   <td>6571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DELETE_PetStore.deleteAUser()[pri:0, instance:APITestGroup.DELETE_PetStore@d21a74c]">deleteAUser</td> 
  <td>main@1646464088</td>   <td></td> </tr>
<tr bgcolor="7ef87a">  <td>20/09/22 17:23:56</td>   <td>7873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DELETE_PetStore.deletePurchaseOrder()[pri:0, instance:APITestGroup.DELETE_PetStore@d21a74c]">deletePurchaseOrder</td> 
  <td>main@1646464088</td>   <td></td> </tr>
</table>
